 .u-section-1 {
  min-height: 673px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-image-1 {
  min-height: 673px;
  background-image: url("images/pexels-photo-6988593.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 673px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 80px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 57px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1rem;
  line-height: 2.2;
  font-weight: 700;
  margin: 60px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 53px auto 0;
}

.u-section-1 .u-text-3 {
  font-size: 0.75rem;
  margin: 53px 0 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 588px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-image-1 {
    min-height: 555px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 555px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 526px;
  }

  .u-section-1 .u-image-1 {
    min-height: 425px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1033px;
  }

  .u-section-1 .u-image-1 {
    min-height: 638px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
  }

  .u-section-1 .u-text-3 {
    width: auto;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 751px;
  }

  .u-section-1 .u-image-1 {
    min-height: 402px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-left: 37px;
    margin-right: 37px;
  }
}